---
layout: base
---
<div class="row">
  <div class="col-md-13 aside3-title">
    <br>
    <h2 id="#identifier">{{ page.title }}</h2>
    {{ page.date | date:"%Y年%m月%d日" }}
  </div>
  <div class="col-md-13 aside3-content">
    <hr>
    <div id="content">
      {{ content }}
    </div>
    
    <div style="margin-top:10px;margin-bottom:10px">
    {%if page.previous%}
    <span class="next">
      上篇：
      <a href="{{page.previous.url}}">
        {{page.previous.title}}
      </a>
    </span>
    {%endif%} 
    {%if page.next%}
    <span class="prev">
      下篇：
      <a href="{{page.next.url}}">
        {{page.next.title}}
      </a>
    </span>
    {%endif%}
  </div>

    <hr>
    {% include disqus.html %}
  </div>
  <!-- 目录 -->
  <div id="content_table" style="position:fixed;right:20px;top:120px;display:none;">
    <div class="panel panel-success">
      <div class="panel-body" id="nav"></div>
    </div>
  </div>
</div>

<!--浮悬窗 二维码部分-->
<div id="code"> 
</div>

